# Ignorar o ambiente virtual
novo_ambiente/
venv/
.env/

# Banco de dados gerado pelo SQLAlchemy (recriado localmente)
ecommerce.db

# Arquivos do VSCode, cache e temporários
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.DS_Store
*.log

# Arquivos do sistema
Thumbs.db
desktop.ini
